
{{!-- <div class = "container">

<div class="row">
  <div class="center col-sm-12">

</div>

</div>

</div> --}}

<div class="jumbotron-backgroundImage">
   <div class="transbox">
   <h1>Mongo Scraper</h1>
    <h3 style = "font-family: Cormorant SC">Wired Edition</h3>
   </div>
</div>
<br>
<div class="container-fluid">
{{#each dbArticles}}
<div  value="{{this._id}}" class="card text-white mb-3">
  <div class="card-header bg-info spacing"><h4><a class="a-color" href="{{this.url}}">{{this.header}}</a>
  <button id="save-article" class = "btn btn-success" value="{{this._id}}">Save Article</button>
  </h4>
  </div>
  <div class="card-body text-center spacing">
    <p class="card-text teal-text"><b>{{this.summary}}</b></p>
  </div>
</div>

{{/each}}
{{#unless dbArticles.length}}
	<div class="alert alert-warning text-center">
    <h4>Uh Oh. Looks like we don't have any new articles.</h4>
    </div>

<div class="card text-white mb-3">
  <div class="card-header bg-info text-center spacing"><h4>What would you like to do?</h4>
  </div>
  <div class="card-body text-center spacing">
    <h5 class="card-title teal-text"><b><a href="/scraped">Try Scrapping New Articles</a></b></h5>
    <p class="card-text teal-text"><b><a href="/saved">Go to Saved Articles</a></b></p>
  </div>
</div>
{{/unless}}
</div>



<script src="assets/js/app.js"></script>
