<div class="jumbotron-backgroundImage">
   <div class="transbox">
   <h1>Mongo Scraper</h1>
    <h3 style = "font-family: Cormorant SC">Wired Edition</h3>
   </div>
</div>
<br>
<div class="container-fluid">
{{#each dbArticles}}
<div  value={{this._id}} class="card text-white mb-3">
  <div class="card-header bg-info text-center spacing"><h4><a class="a-color" href="{{this.url}}">{{this.header}}</a>
  <button id="remove-article" class = "btn btn-danger" value="{{this._id}}">Remove from Saved</button>
  <button id="view-note" class = "btn btn-warning" style = "color: white" data-toggle="modal" data-target="#noteModal" value="{{this._id}}">View Article Notes</button>
  </h4>
  </div>
  <div class="card-body text-center spacing">
    <p class="card-text teal-text"><b>{{this.summary}}</b></p>
  </div>
</div>

<!-- Modal -->


<div id="noteModal" class="bootbox modal fade show in noteModal"  >
    <div class="modal-dialog">
        <div class="modal-content container-fluid">
            <div class="modal-header">
                <h4 id="modal-title" class="modal-title"></h4>
                <button class="bootbox-close-button close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
            </div>
              <hr><ul id = "notes" class="list-group note-container">
                {{!-- <li id = "notes" class="list-group-item">No notes for this article yet.</li> --}}
              {{!-- <li id="test" class="list-group-item"></li> --}}
                </ul>
                <hr> <textarea id="new-note" placeholder="New Note" rows="4" cols="60"></textarea>
           {{!-- {{#each dbArticles}}{{#if dbArticles.length}}<li class="list-group-item">{{this.note}}{{else}}No notes for this article yet.</li>{{/if}}{{/each}}</ul><textarea id="new-note" placeholder="New Note" rows="4" cols="60"></textarea>
            --}}
      
            <div class="modal-footer">
            <button id="save-note" class="btn btn-success save-note">Save Note</button>  
             </div>
          </div>
    </div>
</div> 
{{/each}}
{{#unless dbArticles.length}}
	<div class="alert alert-warning text-center">
    <h4>Uh Oh. Looks like we don't have any saved articles.</h4>
    </div>

<div class="card text-white mb-3">
  <div class="card-header bg-info text-center spacing"><h4>What would you like to do?</h4>
  </div>
  <div class="card-body text-center spacing">
   <h5 class="card-title teal-text"><b><a href="/">Browse Articles</a></b></h5>
  </div>
</div>
{{/unless}}
</div>

<script src="assets/js/app.js"></script>
 